body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
	justify-content: center;
    padding: 10px;
    background-color: white;
    text-align: center;
    position: relative;
}
.header .logo{
	margin-right: 20px;
	
	
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.advertisement {
    width: 100px;
    height: 150px;
    border-color: black;
	border-width: 2px;
    background-color: gray;
    color: black;
    text-align: left;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
	
}

.content {
    width: 70%;
    margin: 20px auto;
}

.content .image img {
    width: 250px;
    margin-right: 20px;
	float: left;
}

.head {
    text-align: center;
    padding: 10px;
    margin-top:20px;
}